/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0d2439;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  padding-top: 60px; /* Adjust for Navbar height */
}

/* Button Styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* List Styling */
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: #0d2439;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

/* Link Styling */
a {
  font-weight: 800;
  text-decoration: none;
}

/* Spline Viewer Container */
.spline-container {
  width: 100%; /* Allow scaling */
  max-width: 1080px; /* Restrict maximum size */
  aspect-ratio: 1; /* Maintain 1:1 ratio */
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}